<p>
  This app, Disaster Dispatcher, is intended to help coordinate workers, who are doing jobs at homes.
</p>

<p>
  The goal is to prevent two (or more) teams from accidentally going to the same house.
</p>

<p>
  It can be difficult to efficiently coordinate volunteers (and paid workers) during the response to a disaster.  This system is a step that we hope will help efficiency.  It is quite a simple app, mainly used for tying together different pieces of information.  As our needs become more clear, we will incorporate whatever tools we can come up with.
</p>

<p>
  As we undergo our first launch (early December), this is roughly what the app does.  Volunteers can sign up and join teams, and indicate which skills they have.  Relief seekers can specify their address and their needs.  Then, coordinators can dispatch teams to do the work at those sites.
</p>