<p>
  WHO WE ARE
  <br>
  Disaster Dipatcher is an app designed to manage resident needs, and coordinate volunteers. Taylor Swope and Mike Schwab created this app in order to facilitate disaster relief and the rebuilding process in response to the destruction caused by Hurricane Sandy.
</p>
<p>
  HOW IT STARTED
  <br>
  Taylor got involved in Sandy relief immediately following the storm when she biked from Manhattan to Staten Island to deliver supplies.  A longtime New Yorker, she was deeply affected by the suffering of her neighbors and went on to spend much of November &amp; December volunteering on Staten Island.  Working with a newly formed group, dubbed the Yellow Team, Taylor understood from the beginning of the relief process that effective data management would be crucial to moving on.  Although federal and private relief organizations were deployed, ad-hoc and informal volunteer groups overshadowed them at the start, and promised to play a major role until the rebuilding was well underway.
</p>
<p>
  Having recently begun working with Mike on a new web app, Taylor quickly saw the possibility for a similar solution.  She called Mike to ask if they could create a simple app tailored to the needs of the various volunteer groups that Yellow Team was working with.  He agreed that it was a grand idea.
</p>
<p>
  Beginning with a few rudimentary forms, Disaster Dispatcher continued to expand in scope and capability.  Volunteer teams are using it every day to coordinate activities in the field.    The app is a work in progress, with regular enhancements. Taylor and Mike welcome feedback and would love to hear how they can best suit your needs. They're here to help too, so please don't hesitate to send your questions.
</p>
<p>
  HOW IT WORKS
  <br>
  Dispatcher organizes relief and recovery work around individual tasks being done at specific homes.  By dispatching teams to do these jobs, volunteer coordinators can maximize volunteers’ effective time in the field, while preventing any confusion like two teams going to the same house.  Waivers are utilized to keep everyone protected, and relevant job details are stored in such a way that they can be revealed to those involved, without being visible to the public.
</p>
<p>
  GETTING INVOLVED
  <br>
  The possibilities for this app are significant, with potential to streamline future disaster relief response, and to be used to help administer a diverse set of volunteer activities.  Disaster Dispatcher's code is public and Taylor and Mike welcome programmers, designers, and volunteers to contribute and take part.  It is a Ruby on Rails project, and uses standard web technologies.  With its lightweight approach to logistics, it is a good codebase to learn from, for those interested in app development techniques.
</p>
<p>
  Taylor and Mike were inspired by the Burning Man spirit in New York’s response to Sandy, and chose to tackle a big project, one entailing many challenges new to them both.  They thank you, and the volunteer community, for your interest and participation!
</p>