<div>
  Thank you for signing your waivers!
</div>
<br>
<div>
  You can now join a team and begin assisting residents with their needs.
</div>
<br>
<div>
  Once you have joined a team, you will receive team dispatches as your team is assigned to different tasks.
</div>
<br>
<div>
  In order that we may best match your abilities to the needs of individual residents, please take a minute on the skills page to tell us what you're good at.
</div>
<br>
<div>
  Volunteers interested in working with relief hubs should click on operations centers to find a nearby site.
</div>
<br>
<div>
  If you are looking for volunteer work in a certain area, please click on neighborhoods to see where residents need help near you.
</div>