<article>
  <header>
    <h1>
      Disaster Dispatcher Sign Up Instructions
    </h1>
    <p>
      Upon landing at http://www.disasterdispatcher.com, a user is prompted to sign up as a volunteer, a coordinator or a resident.
    </p>
  </section>
  
  <section>
    <header>
      <h2>Volunteers</h2>
    </header>
    <ul>
      <li>If you are a volunteer, create a volunteer profile with your basic info.</li>
      <li>You will then be prompted to sign a few standard waivers before you proceed.</li>
      <li>Once that's done, you can join a team or choose to remain independent.</li>
      <li>You will be placed on our volunteer mailing list and will receive weekly emails listing upcoming projects and recent accomplishments.</li>
      <li>If you join a team, you will also receive notifications every time your team is dispatched.</li>
      <li>As a volunteer you can view dispatches with necessary contact info, but you can't view resident details, thus ensuring resident privacy.</li>
    </ul>
  </section>

  <section>
    <header>
      <h2>Coordinators</h2>
    </header>
    <ul>
      <li>If you are leading a team, Sign up just like a volunteer. Then contact us to be given admin access. We will walk you through the dispatch process and give you a quick lesson on using the Dispatcher.</li>
      <li>As a coordinator you can create and manage a team as well as create and edit dispatches.</li>
    </ul>
  </section>
  <section>
    <header>
      <h2>Residents</h2>
    </header>
    <ul>
      <li>If you are a resident in need of assistance, begin by creating a resident profile with your basic info.</li>
      <li>From there, you will be prompted through a questionnaire to assess your needs. It's up to you how much info to include and you can leave any question blank, but remember the more you can tell us about your situation, the more we can help.</li>
      <li>Once you’ve completed this step, you’ll arrive at a page listing the info you submitted. Here is where you can select the jobs you need performed at their home.</li>
      <li>Once you’ve requested a task, the job is entered in our queue which our admins monitor regularly for scheduling.</li>
      <li>Before we dispatch volunteers an admin will follow up with a phone call to determine your availability and to note any additional details or requests.</li>
      <li>When volunteers arrive on the scene, they will need you to sign task specific waivers before they can begin working. These waivers will be stored with your account info.</li>
    </ul>
  </section>
</article>