<p id="notice"><%= notice %></p>

<p>
  <b><%= @operations_center.name %></b>
</p>

<p>
  <%= @operations_center.description %>
</p>

<p>
  <%= link_to_name @operations_center.unit, :full_address %>
</p>
