// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.city-name {
	text-align: left;
	padding-left: 9px;
	width: 50%;
  a {
    color: #666;
  }
}