// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#feedback_submit {
	float: right;
}

#feedback_message {
	width: 99%;
	height: 60px;
}