.right {
	float: right;
	padding-left: 10px;
}

.clearboth {
	clear: both;
}

.tab {
	border: 2px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 4px;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	background-color: #f7f6f2;
	position: relative;
	bottom: -16px;
	margin-left: 5px;
	margin-right: -7px;
	&:hover {
		background-color: #2a2a2a;
	}
}

.tab.bottom_links {
	margin-left: 1px;
}

#content-area {
	margin: 5px;
	margin-bottom: 3px;
	margin-top: 0px;
	background-color: rgb(255, 255, 255);
	border: 2px solid black;
	border-radius: 9px;
	max-width: 940px;
	min-height: 240px;
	padding: 5px;
	text-align:justify;
}

@media all and (max-width:30em) {
	#frame {
		width: 90%;
	}
}

#settings_link {
	
}
@media all and (min-width:30em) and (max-width:48em) {
	#frame {
		width: 80%;
	}
}

@media all and (min-width:48em) {
	#frame {
		min-width: 940px;
		width: 50%;
	}
}

#frame {
	height: 100%;
	background-color: rgb(255, 225, 70);
	background-color: rgba(255, 225, 0, 0.65);
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	border-radius: 7px;
}

#background-holder {
	width: 100%;
	height: 100%;
	padding-top: 5px;
	background-image: url(/assets/Irene19.jpg);
	min-height: 800px;
	background-size: 100%;
}

footer {
  text-align: center;
	margin-bottom: 5px;
	font-size: 10px;
	height: 105px;
	
	.tagline {
		width: 95%;
		padding-left: 2%;
		line-height: 10px;
	}
}

#header {
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin-bottom:0px;
}

#settings_link {
	height: 15px;
	padding-right: 2px;
}

body {
	margin: 0px;
}

.search_bar {
	float: right;
	margin-top: -10px;	
}

.pagination {
	margin-top: -10px;
	margin-bottom: 10px;
}

#DD_logo {
	margin-left: -18px;
	margin-top: -8px;
	margin-bottom: 25px;
}

#add_resident {
	margin-right: 20px;
	margin-top: 16px;
}

.bottom_links {
	text-align: left;
	}