.right {
	float: right;
}

.clearboth {
	clear: both;
}

.tab {
	border: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 2px;
}

#content-area {
	margin: 60px;
	margin-top: 0px;
	background-color: white;
	border: 1px solid black;
	border-radius: 9px;
}

#frame {
	height: 100%;
	background-color: #FFFF00;
}

footer {
  text-align: center;
  font-weight: bold;
}
.header {
  margin: 60px;
  margin-bottom:0px;
  }