.right {
	float: right;
}

.clearboth {
	clear: both;
}

.tab {
	border: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 2px;
	background-color: white;
	&:hover{background-color: black;}
}

#content-area {
	margin: 20px;
	margin-top: 0px;
	background-color: white;
	border: 1px solid black;
	border-radius: 9px;
	max-width: 740px;
	background-image: url(/assets/Irene19.jpg);
}

#frame {
	height: 100%;
	background-color: #FFE600;
	max-width: 780px;
	display: inline-block;
}

footer {
  text-align: center;
  font-weight: bold;
}
.header {
  margin: 20px;
  margin-bottom:0px;
  }
body {
  text-align: center;
}