.landing.call_to_action {
	display: inline-block;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 185px;
	height: 90x;
	background-color: #f7f6f2;
	margin: 18px;
	text-align: center;
	
	heading {
		font-size: 1.7em;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	p {
		color: #333333;
	}
	
	form {
		display: inline-block;
	}
}

p.introduction {
	line-height: 2em;
}