.caps {
	text-transform: uppercase;
}

.light-gray {
	background-color: #ddd;
}

body {
	font-family: 'Arial';
}

#logo {
	display: inline-block;
	font-size: 1.8em;
	padding: 5px;
}

#logo_hash {
	display: inline-block;
	font-size: 1.8em;
}

h1 {
	font-family: 'Arial';
	text-transform: uppercase;
	font-size: 1.4em;
	padding-left: 4px;
}

table {
	width: 99%;
}

th {
	text-align: left;
	text-transform: uppercase;
}