.caps {
	text-transform: uppercase;
}

.light-gray {
	background-color: #ddd;
}

body {
	font-family: 'Gafata';
}

#logo a:hover {
	background-color: none;
}

h1 {
	font-family: 'Share Tech';
	text-transform: uppercase;
	font-size: 1.4em;
	padding-left: 4px;
}

table {
	width: 99%;
}

th {
	text-align: left;
	text-transform: uppercase;
}